<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
>
<head>
<!-- #################### TITLE #################### -->
<title>Dashboard</title>
</head>
<body>

<!-- #################### PAGE-TITLE #################### -->
<section layout:fragment="page-title">
   	<h1 class="page-header">Dashboard</h1>
</section>

<!-- #################### CONTENT #################### -->
<section layout:fragment="content">
	<div class="row">
		<div class="col-lg-2 col-md-6">
			<div class="panel panel-info">
				
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-target fa-4x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div>어제/오늘</div>
								<p></p>
								<div th:text="${torrentLast2DaysCount}"></div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<a href="#" th:href="@{/torrent(lastDays=2)}">
							<span class="pull-left">View Details</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						</a>
						<div class="clearfix"></div>
					</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-6">
			<div class="panel panel-success">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-target fa-4x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div>지난 1주일</div>
							<p></p>
							<div th:text="${torrentLast7DaysCount}"></div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<a href="#" th:href="@{/torrent(lastDays=7)}">
						<span class="pull-left">View Details</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					</a>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</section>

</body>

</html>
