<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
>
<head>
<!-- #################### TITLE #################### -->
<title>키워드</title>
</head>
<body>

<!-- #################### PAGE-TITLE #################### -->
<section layout:fragment="page-title">
   	<h1 class="page-header">키워드</h1>
</section>

<!-- #################### CONTENT #################### -->
<section layout:fragment="content">
<div class="row">
	<div class="panel-body">
	    <div class="table-responsive">
	        <table class="table table-striped table-bordered table-hover">
	            <thead>
	                <tr>
	                    <th>#</th>
	                    <th>키워드</th>
	                    <th>삭제</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="keyword : ${keywords}">
	                    <td th:text="${keyword.id}">id</td>
	                    <td th:text="${keyword.keyword}">keyword</td>
	                    <td class="text-center">
				        	<form action="#" th:action="@{'/keyword/{id}'(id=${keyword.id})}" th:method="delete" >
				        		<button type="submit" class="btn btn-warning btn-sm">Delete</button>
				        		<!-- 
				        		 -->
				            </form>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
</div>
<div class="row">
	<div class="col-lg-8">
		<div class="well bs-component">
			<form role="form" class="form form-horizontal" method="post" th:action="@{/keyword}" th:object="${dto}">
				<fieldset>
					<legend>키워드 만들기</legend>
					<div class="form-group" th:classappend="${#fields.hasErrors('keyword')}? 'has-error'">
						<div class="input-group">
		                    <span class="input-group-addon">@</span>
		                    <input class="form-control" id="keyword" placeholder="키워드" th:field="*{keyword}"/>
		                    <span class="input-group-btn">
		                    	<button class="btn btn-default" type="submit">생성</button>
		                    </span>
						</div>
		                <span th:if="${#fields.hasErrors('keyword')}" th:errors="*{keyword}" class="text-danger">error!</span>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
</section>
</body>

</html>
