<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
>
<head>
<!-- #################### TITLE #################### -->
<title>Message</title>
</head>
<body>

<!-- #################### PAGE-TITLE #################### -->
<section layout:fragment="page-title">
   	<div class="page-header">
   		<h1 class="inline-h1">Message</h1>
		<div class="btn-group pull-right">
			<a class="btn btn-primary" th:href="@{'/torrent/'+${currentKeyword}}" th:text="${#strings.defaultString(currentKeyword, '전체보기')}">전체보기</a>
			<a class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
				<li ><a th:href="@{'/torrent/'}" >전체보기</a></li>
				<li role="separator" class="divider"></li>
				<li ><a th:href="@{'/torrent?lastDays=2'}" >최근2일</a></li>
				<li ><a th:href="@{'/torrent?lastDays=7'}" >최근7일</a></li>
				<li role="separator" class="divider"></li>
			    <li th:each="keyword : ${keywords}"><a th:href="@{'/torrent/' + ${keyword.keyword}}" th:text="${keyword.keyword}">Torrent</a></li>
	  		</ul>
		</div>
  	</div>
</section>

<!-- #################### CONTENT #################### -->
<section layout:fragment="content">

<div class="row">
<div class="panel-body container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                	<th>#</th>
                    <th>일자</th>
                    <th>타입</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="message : ${messages}">
                	<td class="text-center" th:text="${message.id}"></td>
                    <td class="col-md-3 text-center" th:text="${#dates.format(message.createDate, 'MM/dd HH:mm')}">createDate</td>
                    <td class="col-md-3" th:text="${message.type}">type</td>
                    <td class="col-md-3" th:text="${message.message}">message</td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>
            
</div>
</section>
</body>

</html>
