<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
>
<head>
<!-- #################### TITLE #################### -->
<title>Message</title>
</head>
<body>

<!-- #################### PAGE-TITLE #################### -->
<section layout:fragment="page-title">
   	<div class="page-header">
   		<h1 class="inline-h1">Message</h1>
		<div class="btn-group pull-right">
			<form action="/message/delete" method="post">
				<a class="btn btn-primary" href="#" onclick="this.parentNode.submit();">전체 삭제</a>
			</form>
		</div>
  	</div>
</section>

<!-- #################### CONTENT #################### -->
<section layout:fragment="content">

<div class="row">
<div class="panel-body container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                	<th>#</th>
                    <th>일자</th>
                    <th>타입</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="message : ${messages}">
                	<td class="text-center" th:text="${message.id}"></td>
                    <td class="col-md-3 text-center" th:text="${#dates.format(message.createDate, 'MM/dd HH:mm')}">createDate</td>
                    <td class="col-md-3" th:text="${message.type}">type</td>
                    <td class="col-md-3" th:text="${message.message}">message</td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>
            
</div>
</section>
</body>

</html>
