<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content="to-app"></meta>
    <meta name="author" content="star16m"></meta>
    <link rel="shortcut icon" type="image/x-icon" href="/resources/images/favicon.ico"></link>

    <title>To-App</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet"></link>

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet"></link>

    <!-- Morris Charts CSS -->
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet"></link>

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">To-App</a>
            </div>
            <!-- /.navbar-header -->


            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="torrent"><i class="fa fa-table fa-fw"></i> torrent</a>
                        </li>
                        <li>
                            <a href="site"><i class="fa fa-table fa-fw"></i> site</a>
                        </li>
                        <li>
                            <a href="keyword"><i class="fa fa-table fa-fw"></i> keyword</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Site</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
            
            
            
            
	            <div class="panel-body">
	                <div class="table-responsive">
	                    <table class="table table-striped table-bordered table-hover">
	                        <thead>
	                            <tr>
	                                <th>#</th>
	                                <th>사이트명</th>
	                                <th>URL</th>
	                                <th>A-Tag Selector</th>
	                                <th>name</th>
	                                <th>nameRe</th>
	                                <th>size</th>
	                                <th>sizeRe</th>
	                                <th>magnet</th>
	                                <th>magnetRe</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr th:each="site : ${sites}">
	                                <td th:text="${site.id}">id</td>
	                                <td th:text="${site.name}">name</td>
	                                <td th:text="${site.searchUrl}">searchUrl</td>
	                                <td th:text="${site.selector}">selector</td>
	                                <td th:text="${site.torrentNameSelector}">torrentNameSelector</td>
	                                <td th:text="${site.torrentNameReplace}">torrentNameReplace</td>
	                                <td th:text="${site.torrentSizeSelector}">torrentSizeSelector</td>
	                                <td th:text="${site.torrentSizeReplace}">torrentSizeReplace</td>
	                                <td th:text="${site.torrentMagnetHashSelector}">torrentMagnetSelector</td>
	                                <td th:text="${site.torrentMagnetHashReplace}">torrentMagnetReplace</td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	                <!-- /.table-responsive -->
	            </div>
                        
            </div>
            <!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">사이트 입력</div>
						
						<div class="panel-body">
							<form role="form" class="form" method="post" th:action="@{/site}" th:object="${siteCreate}">
							<div class="row">
								<div class="col-lg-6">
										<div class="form-group" th:classappend="${#fields.hasErrors('siteName')}? 'has-error'">
											<label class="control-label" for="siteName">사이트명</label>
											<input class="form-control" id="siteName" placeholder="사이트명" th:field="*{siteName}"/>
											<span th:if="${#fields.hasErrors('siteName')}" th:errors="*{siteName}" class="text-danger">error!</span>
										</div>
										<div class="form-group" th:classappend="${#fields.hasErrors('siteSearchUrl')}? 'has-error'">
											<label class="control-label" for="siteSearchUrl">URL</label>
											<input class="form-control" id="siteSearchUrl" placeholder="[KEYWORD] 를 포함한 search url" th:field="*{siteSearchUrl}"/>
											<span th:if="${#fields.hasErrors('siteSearchUrl')}" th:errors="*{siteSearchUrl}" class="help-block">error!</span>
										</div>
										<div class="form-group" th:classappend="${#fields.hasErrors('siteKeyword')}? 'has-error'">
											<label class="control-label" for="siteKeyword">검색문자열</label>
											<input class="form-control" id="siteKeyword" placeholder="[KEYWORD] 에 입력할 검색어" th:field="*{siteKeyword}"/>
											<span th:if="${#fields.hasErrors('siteKeyword')}" th:errors="*{siteKeyword}" class="help-block">error!</span>
										</div>
										<div class="form-group" th:classappend="${#fields.hasErrors('siteSelector')}? 'has-error'">
											<label class="control-label" for="siteSelector">selector</label>
											<input class="form-control" id="siteSelector" placeholder="a tag를 리스트업 하는 selector" th:field="*{siteSelector}"/>
											<span th:if="${#fields.hasErrors('siteSelector')}" th:errors="*{siteSelector}" class="help-block">error!</span>
										</div>
										
										<div class="form-group" th:unless="${#strings.isEmpty(siteDetailResult)}" th:classappend="${#fields.hasErrors('torrentNameSelector')}? 'has-error'">
											<label class="control-label" for="torrentNameSelector">토렌트-이름-Selector</label>
											<input class="form-control" id="torrentNameSelector" placeholder="토렌트-이름-Selector" th:field="*{torrentNameSelector}" />
											<span th:if="${#fields.hasErrors('torrentNameSelector')}" th:errors="*{torrentNameSelector}" class="text-danger">error!</span>
											<span th:if="${torrentNameResult}" th:text="${torrentNameResult}">torrent name result</span>
										</div>
										<div class="form-group" th:unless="${#strings.isEmpty(siteDetailResult)}" th:classappend="${#fields.hasErrors('torrentNameReplace')}? 'has-error'">
											<label class="control-label" for="torrentNameReplace">토렌트-이름-Replace</label>
											<input class="form-control" id="torrentNameReplace" placeholder="토렌트-이름-Replace" th:field="*{torrentNameReplace}" />
											<span th:if="${#fields.hasErrors('torrentNameReplace')}" th:errors="*{torrentNameReplace}" class="text-danger">error!</span>
										</div>
										
										<div class="form-group" th:unless="${#strings.isEmpty(siteDetailResult)}" th:classappend="${#fields.hasErrors('torrentSizeSelector')}? 'has-error'">
											<label class="control-label" for="torrentSizeSelector">토렌트-Size-Selector</label>
											<input class="form-control" id="torrentSizeSelector" placeholder="토렌트-Size-Selector" th:field="*{torrentSizeSelector}" />
											<span th:if="${#fields.hasErrors('torrentSizeSelector')}" th:errors="*{torrentSizeSelector}" class="text-danger">error!</span>
											<span th:if="${torrentSizeResult}" th:text="${torrentSizeResult}">torrent size result</span>
										</div>
										<div class="form-group" th:unless="${#strings.isEmpty(siteDetailResult)}" th:classappend="${#fields.hasErrors('torrentSizeReplace')}? 'has-error'">
											<label class="control-label" for="torrentSizeReplace">토렌트-Size-Replace</label>
											<input class="form-control" id="torrentSizeReplace" placeholder="토렌트-Size-Replace" th:field="*{torrentSizeReplace}" />
											<span th:if="${#fields.hasErrors('torrentSizeReplace')}" th:errors="*{torrentSizeReplace}" class="text-danger">error!</span>
										</div>
										
										<div class="form-group" th:unless="${#strings.isEmpty(siteDetailResult)}" th:classappend="${#fields.hasErrors('torrentMagnetHashSelector')}? 'has-error'">
											<label class="control-label" for="torrentMagnetHashSelector">토렌트-Magnet-Selector</label>
											<input class="form-control" id="torrentMagnetHashSelector" placeholder="토렌트-MagnetHash-Selector" th:field="*{torrentMagnetHashSelector}" />
											<span th:if="${#fields.hasErrors('torrentMagnetHashSelector')}" th:errors="*{torrentMagnetHashSelector}" class="text-danger">error!</span>
											<span th:if="${torrentMagnetHashResult}" th:text="${torrentMagnetHashResult}">torrent magnet hash result</span>
										</div>
										<div class="form-group" th:unless="${#strings.isEmpty(siteDetailResult)}" th:classappend="${#fields.hasErrors('torrentMagnetHashReplace')}? 'has-error'">
											<label class="control-label" for="torrentMagnetHashReplace">토렌트-Magnet-Replace</label>
											<input class="form-control" id="torrentMagnetHashReplace" placeholder="토렌트-Magnet-Replace" th:field="*{torrentMagnetHashReplace}" />
											<span th:if="${#fields.hasErrors('torrentMagnetHashReplace')}" th:errors="*{torrentMagnetHashReplace}" class="text-danger">error!</span>
										</div>
										
										<div class="form-group">
											<button type="submit" class="btn btn-success btn-lg">check</button>
										</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label>리스트 페이지</label>
										<textarea class="form-control" rows="5" disabled="disabled" th:utext="${siteResult}"></textarea>
									</div>
									<div class="form-group" th:unless="${#strings.isEmpty(siteDetailResult)}">
										<label>상세 페이지</label>
										<textarea class="form-control" rows="5" disabled="disabled" th:utext="${siteDetailResult}"></textarea>
									</div>
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>

</body>

</html>
