<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<head>
    <!-- #################### TITLE #################### -->
    <title>Site</title>
    <script>
        var currentSite;

        function clickSite(obj) { //id, name, searchUrl, selector, torrentNameSelector, torrentNameReplace, torrentSizeSelector, torrentSizeReplace, torrentMagnetSelector, torrentMagnetReplace
            currentSite = new Object();
            currentSite.id = $(obj).data('id');
            currentSite.name = $(obj).data('name');
            currentSite.searchUrl = $(obj).data('searchurl');
            currentSite.pageSelector = $(obj).data('pageSelector');

            currentSite.torrentNameSelector = $(obj).data('torrentnameselector');
            currentSite.torrentNameReplace = $(obj).data('torrentnamereplace');

            currentSite.torrentSizeSelector = $(obj).data('torrentsizeselector');
            currentSite.torrentSizeReplace = $(obj).data('torrentsizereplace');

            currentSite.torrentMagnetHashSelector = $(obj).data('torrentmagnethashselector');
            currentSite.torrentMagnetHashReplace = $(obj).data('torrentmagnethashreplace');

            $('#siteName').val(currentSite.name);
            $('#siteSearchUrl').val(currentSite.searchUrl);
            $('#pageSelector').val(currentSite.pageSelector);
        }

        function changeEnabled(checkTarget) {
            return $.ajax({
                url: "/site",
                type: "patch",
                cache: false,
                data: {
                    'siteId': $(checkTarget).data('siteid'),
                    'enabled': $(checkTarget).is(":checked")
                },
                dataType: 'json',
                success: function (result) {
                    alert(result.name + ' 을 ' + (result.useable ? '활성화' : '비활성화') + '하였습니다.');
                }
            });
        }

        function deleteSite(deleteTarget) {
            return $.ajax({
                url: "/site/" + $(deleteTarget).data('siteid'),
                type: "delete",
                cache: false,
                dataType: 'json',
                success: function (result) {
                    $('#sitetable > tbody > tr[data-rowbysite=' + $(deleteTarget).data('siteid') + ']') .remove();
                    alert('사이트 [' + $(deleteTarget).data('siteid') + '] 을 삭제하였습니다.');
                }
            });
        }
    </script>
</head>

<body>

    <!-- #################### PAGE-TITLE #################### -->
    <section layout:fragment="page-title">
        <h1 class="page-header">Site</h1>
    </section>

    <!-- #################### CONTENT #################### -->
    <section layout:fragment="content">
        <div class="row">
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="sitetable" name="sitetable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>사이트명</th>
                                <th>URL</th>
                                <th>page Selector</th>
                                <th>name</th>
                                <th>nameRe</th>
                                <th>size</th>
                                <th>sizeRe</th>
                                <th>magnet</th>
                                <th>magnetRe</th>
                                <th>사용</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="site : ${sites}" th:attr="data-rowbysite=${site.id}">
                                <td th:text="${site.id}">id</td>
                                <td th:text="${site.name}">name</td>
                                <td th:text="${site.searchUrl}">searchUrl</td>
                                <td th:text="${site.pageSelector}">selector</td>
                                <td th:text="${site.torrentNameSelector}">torrentNameSelector</td>
                                <td th:text="${site.torrentNameReplace}">torrentNameReplace</td>
                                <td th:text="${site.torrentSizeSelector}">torrentSizeSelector</td>
                                <td th:text="${site.torrentSizeReplace}">torrentSizeReplace</td>
                                <td th:text="${site.torrentMagnetHashSelector}">torrentMagnetSelector</td>
                                <td th:text="${site.torrentMagnetHashReplace}">torrentMagnetReplace</td>
                                <td>
                                    <input type="checkbox" name="active" th:checked="${site.useable}" th:attr="data-siteid=${site.id}" th:onclick="|javascript:changeEnabled(this);|" />
                                </td>
                                <td>
                                    <a class="btn btn-info" href="#" th:attr="data-siteid=${site.id}" th:onclick="|javascript:deleteSite(this);|" th:text="삭제"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>

        </div>
        <!-- /.row -->
        <div class="row siterow">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">사이트 입력</div>

                    <div class="panel-body">
                        <form role="form" class="form siteform" method="post" th:action="@{/site}" th:object="${siteCreate}">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group" th:classappend="${#fields.hasErrors('siteName')}? 'has-error'">
                                        <label class="control-label" for="siteName">사이트명</label>
                                        <input class="form-control site_form_element" id="siteName" placeholder="사이트명" th:field="*{siteName}" />
                                        <span th:if="${#fields.hasErrors('siteName')}" th:errors="*{siteName}" class="text-danger">error!</span>
                                    </div>
                                    <div class="form-group" th:classappend="${#fields.hasErrors('siteSearchUrl')}? 'has-error'">
                                        <label class="control-label" for="siteSearchUrl">URL</label>
                                        <input class="form-control site_form_element" id="siteSearchUrl" placeholder="[KEYWORD] 를 포함한 search url" th:field="*{siteSearchUrl}" />
                                        <span th:if="${#fields.hasErrors('siteSearchUrl')}" th:errors="*{siteSearchUrl}" class="help-block">error!</span>
                                    </div>
									<div class="form-group">
										<label class="control-label" for="nameSelector">Name-Selector</label>
										<input class="form-control site_form_element" id="nameSelector" placeholder="name-Selector" />
									</div>
									<div class="form-group">
										<label class="control-label" for="sizeSelector">Size-Selector</label>
										<input class="form-control site_form_element" id="sizeSelector" placeholder="Size-Selector" />
									</div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" th:classappend="${#fields.hasErrors('siteKeyword')}? 'has-error'">
                                        <label class="control-label" for="siteKeyword">검색문자열</label>
                                        <input class="form-control site_form_element" id="siteKeyword" placeholder="[KEYWORD] 에 입력할 검색어" th:field="*{siteKeyword}" />
                                        <span th:if="${#fields.hasErrors('siteKeyword')}" th:errors="*{siteKeyword}" class="help-block">error!</span>
                                    </div>
                                    <div class="form-group" th:classappend="${#fields.hasErrors('pageSelector')}? 'has-error'">
                                        <label class="control-label" for="pageSelector">selector</label>
                                        <input class="form-control site_form_element" id="pageSelector" placeholder="a tag를 리스트업 하는 selector" th:field="*{pageSelector}" />
                                        <span th:if="${#fields.hasErrors('pageSelector')}" th:errors="*{pageSelector}" class="help-block">error!</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="dateSelector">일자-Selector</label>
                                        <input class="form-control site_form_element" id="dateSelector" placeholder="일자-Selector" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>리스트 페이지</label>
                                        <textarea class="form-control siteresult" rows="5" disabled="disabled" th:utext="${siteResult}"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg">check</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row detailrow" style="display: none;" data-detailurl="">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">상세 정보 입력</div>

                    <div class="panel-body">
                        <form role="form" class="form detailform" method="post" th:action="@{/site}" th:object="${siteCreate}">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label" for="torrentNameSelector">토렌트-이름-Selector</label>
                                        <input class="form-control detail_form_element" id="torrentNameSelector" placeholder="토렌트-이름-Selector" />
                                    </div>
									<div class="form-group">
										<label class="control-label" for="torrentSizeSelector">토렌트-Size-Selector</label>
										<input class="form-control detail_form_element" id="torrentSizeSelector" placeholder="토렌트-Size-Selector" />
									</div>
									<div class="form-group">
										<label class="control-label" for="torrentMagnetHashSelector">토렌트-Magnet-Selector</label>
										<input class="form-control detail_form_element" id="torrentMagnetHashSelector" placeholder="토렌트-MagnetHash-Selector" />
									</div>

								</div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label" for="torrentNameReplace">토렌트-이름-Replace</label>
                                        <input class="form-control detail_form_element option_element" id="torrentNameReplace" placeholder="토렌트-이름-Replace" />
                                    </div>
									<div class="form-group">
									    <label class="control-label" for="torrentSizeReplace">토렌트-Size-Replace</label>
									    <input class="form-control detail_form_element option_element" id="torrentSizeReplace" placeholder="토렌트-Size-Replace" />
									</div>
									<div class="form-group">
										<label class="control-label" for="torrentMagnetHashReplace">토렌트-Magnet-Replace</label>
										<input class="form-control detail_form_element option_element" id="torrentMagnetHashReplace" placeholder="토렌트-Magnet-Replace" />
									</div>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-lg-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg">check</button>
                                        <button type="button" class="btn btn-primary btn-lg btn-create" style="display: none">생성</button>
                                    </div>
                            	</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>리스트 페이지</label>
                                        <textarea class="form-control detailresult" rows="10" disabled="disabled" th:utext="${siteResult}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section layout:fragment="page-script">
        <script>
        $(document).ready(function () {
            $("form.siteform").submit(function (event) {
                event.preventDefault();
                var checkForm = {};
                var validInfo = true;
                $('.site_form_element').each(function(index, item) {
                	var n = $(item).attr('id');
                	checkForm[n] = $(item).val();
                	if (!$(this).hasClass("option_element")) {
	                	if (!checkForm[n]) {
	                		alert("please type value.");
	                		$(item).focus();
	                		validInfo = false;
	                		return false;
	                	}
                	}
                });
                if (!validInfo) {
                	return;
                }
                $('div.detailrow').hide();
                $('textarea.siteresult').text();
                $('div.siterow > div > div.panel').removeClass('panel-danger');
                return $.ajax({
                    url: "/site/check",
                    type: "patch",
                    contentType: "application/json",
                    cache: false,
                    data: JSON.stringify(checkForm),
                    dataType: 'json',
                    success: function (result) {
                        // $('textarea.siteresult').text(result.message + (result.success ? "\nDETAIL PAGE [" + result.data.detailPageURL + "]" : ""));
                        $("div.detailrow").data("detailinfo", result.data);
                        $('textarea.siteresult').text(result.message + "\n" + JSON.stringify(result.data));
                        if (result.success) {
                            $('div.detailrow').show();
                        } else {
                        	$('div.siterow > div > div.panel').addClass('panel-danger');
                        }
                    }
                });
            });
            
            // detail
            $("form.detailform").submit(function() {
            	event.preventDefault();
            	var checkForm = {};
            	var validInfo = true;
                $('.site_form_element').each(function(index, item) {
                	var n = $(item).attr('id');
                	checkForm[n] = $(item).val();
                	if (!$(this).hasClass("option_element")) {
	                	if (!checkForm[n]) {
	                		alert("please type value.");
	                		$(item).focus();
	                		validInfo = false;
	                		return false;
	                	}
                	}
                });
            	$('.detail_form_element').each(function(index, item) {
                	var n = $(item).attr('id');
                	checkForm[n] = $(item).val();
                	if (!$(this).hasClass("option_element")) {
	                	if (!checkForm[n]) {
	                		alert("please type value.");
	                		$(item).focus();
	                		validInfo = false;
	                		return false;
	                	}
                	}
                });
            	if (!validInfo) {
                	return;
                }
            	$('button.btn-create').hide();
            	checkForm["torrentDetailPageURL"] = $("div.detailrow").data("detailinfo")[0].linkURL;
            	$('textarea.detailresult').text("");
                return $.ajax({
                    url: "/site/detail/check",
                    type: "patch",
                    contentType: "application/json",
                    cache: false,
                    data: JSON.stringify(checkForm),
                    dataType: 'json',
                    success: function (result) {
                    	if (result.success) { $('button.btn-create').show(); }
                        $('textarea.detailresult').text(
                        	  "torrentName : " + result.data.torrentName + "\n"
                        	+ "torrentSize : " + result.data.torrentSize + "\n"
                        	+ "torrentMagnet : " + result.data.torrentMagnet
                        );
                    }
                });
            });
            
            $('button.btn-create').on('click', function() {
            	var checkForm = {};
                var validInfo = true;
                $('.site_form_element').each(function(index, item) {
                	var n = $(item).attr('id');
                	checkForm[n] = $(item).val();
                	if (!$(this).hasClass("option_element")) {
	                	if (!checkForm[n]) {
	                		alert("please type value.");
	                		$(item).focus();
	                		validInfo = false;
	                		return false;
	                	}
                	}
                });
                
                $('.detail_form_element').each(function(index, item) {
                	var n = $(item).attr('id');
                	checkForm[n] = $(item).val();
                	if (!$(this).hasClass("option_element")) {
	                	if (!checkForm[n]) {
	                		alert("please type value.");
	                		$(item).focus();
	                		validInfo = false;
	                		return false;
	                	}
                	}
                });
                if (!validInfo) {
                	return;
                }
                return $.ajax({
                    url: "site",
                    type: "post",
                    contentType: "application/json",
                    cache: false,
                    data: JSON.stringify(checkForm),
                    dataType: 'json',
                    success: function (result) {
                    	if (result.success) {
                    		location.reload();
                    	} else {
                    		alert(result.message);
                    	}
                    }
                });
            });
        });
        </script>
    </section>
</body>
</html>