<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
>
<head>
<!-- #################### TITLE #################### -->
<title>Torrent</title>
</head>
<body>

<!-- #################### PAGE-TITLE #################### -->
<section layout:fragment="page-title">
   	<h1 class="page-header">Torrent</h1>
</section>

<!-- #################### CONTENT #################### -->
<section layout:fragment="content">
<div class="row">
 <div class="panel-body container">
     <div class="table-responsive">
         <table class="table table-striped table-bordered table-hover">
             <thead>
                 <tr>
                     <th>제목</th>
                     <th>일자</th>
                     <th>URL</th>
                     <th>Magnet</th>
                     <th>Download</th>
                 </tr>
             </thead>
             <tbody>
                 <tr th:each="torrent : ${torrents}">
                     <td th:text="${torrent.title}">title</td>
                     <td th:text="${torrent.dateString}">dateString</td>
                     <td ><a role="button" target="_blank" class="btn btn-default" th:href="@{${torrent.url}}">실제사이트</a></td>
                     <td th:text="${torrent.magnetCode}">magnetHash</td>
                     <td >
         	<form action="#" th:unless="${torrent.download}" th:action="@{'/torrent/download/{hash}'(hash=${torrent.magnetCode})}" th:method="patch" >
         		<input type="hidden" th:value="${currentKeyword}" th:attr="name='currentKeyword'" />
         		<button type="submit" class="btn btn-info">Download</button>
             </form>
                     </td>
                 </tr>
             </tbody>
         </table>
     </div>
 </div>
            
</div>
</section>
</body>

</html>
