<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
>
<head>
<!-- #################### TITLE #################### -->
<title>Torrent</title>
</head>
<body>

<!-- #################### PAGE-TITLE #################### -->
<section layout:fragment="page-title">
   	<div class="page-header">
   		<h1 class="inline-h1">Torrent</h1>
		<div class="btn-group pull-right">
			
			<a class="btn btn-info" href="#" onclick="document.runForm.submit();" th:if="${#strings.length(currentKeyword) > 0}">실행</a>
			<a class="btn btn-primary" th:href="@{/torrent(name=${currentKeyword})}" th:text="${#strings.defaultString(currentKeyword, '전체보기')}">전체보기</a>
			<a class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
				<li ><a th:href="@{'/torrent/'}" >전체보기</a></li>
				<li role="separator" class="divider"></li>
				<li ><a th:href="@{'/torrent?lastDays=2'}" >최근2일</a></li>
				<li ><a th:href="@{'/torrent?lastDays=7'}" >최근7일</a></li>
				<li role="separator" class="divider"></li>
			    <li th:each="keyword : ${keywords}"><a th:href="@{/torrent(name=${keyword.keyword})}" th:text="${keyword.keyword}">Torrent</a></li>
	  		</ul>
		</div>
  	</div>
<form name="runForm" id="runForm" th:if="${#strings.length(currentKeyword) > 0}" th:action="@{/torrent/collect}" th:method="patch">
	<input type="hidden" th:value="${currentKeyword}" th:attr="name='currentKeyword'" />
</form>
</section>

<!-- #################### CONTENT #################### -->
<section layout:fragment="content">

<div class="row">
<div th:if="${lastDays} != null" th:text="${lastDays}"></div>
<div class="panel-body container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>일자</th>
                    <th>키워드</th>
                    <th>제목</th>
                    <th>Size</th>
                    <th>Down</th>
                    <!-- 
                    <th>Magnet</th>
                    <th>Download</th>
                     -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="torrent : ${torrents}" th:classappend="${torrent.download}? 'active'">
                    <td class="col-md-3 text-center"><a th:text="${torrent.date} ? ${#dates.format(torrent.date, 'MM월 dd일 (E)')}" th:href="@{/torrent(targetDate=${torrent.dateString})}">dateString</a></td>
                    <td class="col-md-3"><a th:with="simpleKeyword=${torrent.keyword}" th:text="${simpleKeyword.replaceAll('[ \d]{2,}', '')}" th:href="@{/torrent(name=${torrent.keyword})}">keyword</a></td>
                    <td class="col-md-3" th:text="${#strings.abbreviate(torrent.title, 30)}">title</td>
                    <td class="col-md-3 text-center" th:with="torrentSize=${torrent.size}" th:text="${torrentSize.replaceAll(' ?\(.+\)', '')}">size</td>
                    <!-- 
                    <td class="col-md-3 text-center"><a role="button" target="_blank" class="btn btn-default" th:href="@{${torrent.url}}">실제사이트</a></td>
                    <td th:text="${torrent.magnetCode}">magnetHash</td>
                     -->
                    <td class="col-md-3 text-center">
						<form action="#" th:unless="${torrent.download}" th:action="@{'/torrent/download/{hash}'(hash=${torrent.magnetCode})}" th:method="patch" >
							<input type="hidden" th:value="${currentKeyword}" th:attr="name='currentKeyword'" />
							<button type="submit" class="btn btn-info btn-xs">Download</button>
						</form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>
            
</div>
</section>
</body>

</html>
