<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
>
<head>
<!-- #################### TITLE #################### -->
<title>Torrent</title>
</head>
<body>

<!-- #################### PAGE-TITLE #################### -->
<section layout:fragment="page-title">
   	<h1 class="page-header">Torrent</h1>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" th:text="${#strings.defaultString(currentKeyword, '전체보기')}">
			Torrent<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li ><a th:href="@{'/torrent/'}" >전체보기</a></li>
			<li role="separator" class="divider"></li>
		    <li th:each="keyword : ${keywords}"><a th:href="@{'/torrent/' + ${keyword.keyword}}" th:text="${keyword.keyword}">Torrent</a></li>
  		</ul>
	<div class="pull-right">
		<form action="#" th:if="${#strings.length(currentKeyword) > 0}" th:action="@{/torrent/collect}" th:method="patch">
				<input type="hidden" th:value="${currentKeyword}" th:attr="name='currentKeyword'" />
			<button type="submit" class="btn btn-info pull-right">바로실행</button>
 		</form>
	</div>
</section>

<!-- #################### CONTENT #################### -->
<section layout:fragment="content">
<div class="row">

<div class="panel-body container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>제목</th>
                    <th>일자</th>
                    <th>Size</th>
                    <th>Down</th>
                    <!-- 
                    <th>Magnet</th>
                    <th>Download</th>
                     -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="torrent : ${torrents}">
                    <td class="col-md-3" th:if="${#strings.length(torrent.title)} gt 30" th:text="${#strings.substring(torrent.title,0,30) + '…'}">title</td>
                    <td class="col-md-3" th:if="${#strings.length(torrent.title)} le 30" th:text="${torrent.title}">title</td>
                    
                    <td class="col-md-3" th:text="${torrent.dateString}">dateString</td>
                    <td class="col-md-3" th:text="${#strings.abbreviate(torrent.size, 12)}">size</td>
                    <!-- 
                    <td class="col-md-3"><a role="button" target="_blank" class="btn btn-default" th:href="@{${torrent.url}}">실제사이트</a></td>
                    <td th:text="${torrent.magnetCode}">magnetHash</td>
                     -->
                    <td class="col-md-3">
						<form action="#" th:unless="${torrent.download}" th:action="@{'/torrent/download/{hash}'(hash=${torrent.magnetCode})}" th:method="patch" >
							<input type="hidden" th:value="${currentKeyword}" th:attr="name='currentKeyword'" />
							<button type="submit" class="btn btn-info">Download</button>
						</form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>
            
</div>
</section>
</body>

</html>
